<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{price/priceNav.html}"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Approve</title>
</head>
<body>
    <div layout:fragment="price-content">
        <div class="price-view h-100 w-100 px-4 py-3">
            <div class="price-header-title w-100">
                <h5>Price Approve</h5>
            </div>
        </div>

    </div>

</body>
</html>