<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{profile/profileNav.html}"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
</head>
<body>
    <div layout:fragment="profile-content">
        <div class="profile-view w-100 px-4 py-3">
            <div class="profile-header-title w-100">
                <h5>Create Profile</h5>
            </div>

            <form action="/admin/v1/profile/create"
                  method="post"
                  th:object="${userDTO}"
                  class="p-5">
                <div class="w-100 d-flex justify-content-start px-5">
                    <div class="profile-item">
                        <div class="mb-2">
                            <label>First Name</label>
                        </div>
                        <div>
                            <input class="profile-input"
                                   type="text"
                                   placeholder="First Name"
                                   th:field="${userDTO.firstName}"
                            >
                            <p th:if="${#fields.hasErrors('firstName')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.firstName}"
                            ></p>
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="mb-2">
                            <label>Last Name</label>
                        </div>
                        <div>
                            <input class="profile-input"
                                   type="text"
                                   placeholder="Last Name"
                                   th:field="${userDTO.lastName}"
                            >
                            <p th:if="${#fields.hasErrors('lastName')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.lastName}"
                            ></p>
                        </div>
                    </div>

                </div>
                <div class="w-100 d-flex justify-content-start px-5">
                    <div class="profile-item">
                        <div class="mb-2">
                            <label>Email</label>
                        </div>
                        <div>
                            <input class="profile-input"
                                   type="text"
                                   placeholder="Email"
                                   th:field="${userDTO.email}"
                            >
                            <p th:if="${#fields.hasErrors('email')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.email}"
                            ></p>
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="mb-2">
                            <label>Phone Number</label>
                        </div>
                        <div>
                            <input class="profile-input"
                                   type="text"
                                   placeholder="Phone Number"
                                   th:field="${userDTO.phoneNumber}"
                            >
<!--                            <p th:if="${#fields.hasErrors('firstName')}"-->
<!--                               th:errorclass="text-danger"-->
<!--                               th:errors="${userDto.firstName}"-->
<!--                            ></p>-->
                        </div>
                    </div>

                </div>
                <div class="w-100 d-flex justify-content-start px-5">
                    <div class="profile-item">
                        <label class="mb-2">Gender</label>
                        <div class="">
                            <select class="form-select" th:field="${userDTO.gender}">
                                <option selected value="false">Male</option>
                                <option value="true">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="profile-item">
                        <label class="mb-2">Roles Type</label>
                        <div>
                            <button class="profile-input dropdown-toggle d-flex justify-content-between align-items-center" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                                Role Select
                            </button>
                            <ul class="drop-down-roll dropdown-menu"
                                aria-labelledby="dropdownMenuButton">
                                <li class="px-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="ADMIN" id="checkbox1" th:field="${userDTO.roles}">
                                        <label class="form-check-label" for="checkbox1">ADMIN</label>
                                    </div>
                                </li>
                                <li class="px-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="MANAGE" id="checkbox2" th:field="${userDTO.roles}">
                                        <label class="form-check-label" for="checkbox2">MANAGER</label>
                                    </div>
                                </li>
                                <li class="px-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="USER" id="checkbox3" th:field="${userDTO.roles}">
                                        <label class="form-check-label" for="checkbox3">USER</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="profile-submit-layout d-flex justify-content-end align-items-end gap-2 px-5">
                    <button type="submit" name="action" value="cancel" class="btn btn-outline-secondary">Cancel</button>
                    <button type="submit" name="action" value="create" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>