@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

:root {

  --primary-color: #53B9EA;

  --background-primary: #f1f3f5;
  --background-white: #fff;


  --gray-icon: #868e96;
  --gray-border: #E0E0E0;


  --text-color01: #343a40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color01);
}

.btn {
    width: 120px;
    height: 40px;
}

.btn-small {
    width: 80px;
    height: 30px;
}

/* ///////////////////////// */
/* ***** MAIN LAYOUT ***** */
/* ///////////////////////// */

.wrapper-main {
    background-color: var(--background-primary);
}

.header {
   background-color: transparent;
   height: 50px;
}

.header-notification {
    color: var(--gray-icon);
    font-size: 20px;
}

.header-user {
    height: 28px;
    width: 28px;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
}

.header-user-icon {
    color: var(--gray-icon);
}

.header-user-name {
    color: var(--primary-color);
    font-weight: 600;
}

.body-nav {
    width: 50px;
    background-color: var(--background-white);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(96, 108, 128, 0.1);
}

.body-main {
    width: calc(100% - 50px);
}

.footer {
    background-color: var(--background-white);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(96, 108, 128, 0.1);
    height: 50px;
}

/* ///////////////////////// */
/* *** DASHBOARD LAYOUT **** */
/* ///////////////////////// */

.dashboard-page {
    background-color: var(--background-white);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(96, 108, 128, 0.1);
}


/* ///////////////////////// */
/* ****** PRICE LAYOUT ***** */
/* ///////////////////////// */

.priceNav-page {
    width: 170px;
    background-color: var(--background-white);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(96, 108, 128, 0.1);
    flex:1;
}

.price-content {
    width: calc(100% - 170px)
}

.price-view {
     background-color: var(--background-white);
     border-radius: 5px;
     box-shadow: 1px 1px 3px 0px rgba(96, 108, 128, 0.1);
}

.price-header-title {
    border-bottom: 1px solid var(--background-primary);
    padding-bottom: 5px;
    height: 40px;
}

/* ///////////////////////// */
/* ***** PRICE CREATE ***** */
.create-price-header {
    height: 110px;
    border-bottom: 0.5px solid var(--background-primary);
}

.price-form {
    height: 749px;
    overflow: auto;
}

.price-item {
  width: 295px;
  height: 50px;
  position: relative;
}

.price-input {
    height: 30px;
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
    border: 0.5px solid var(--gray-border);
    box-shadow: 1px 1px 3px 0px rgba(96, 108, 128, 0.1);
}

.price-input_unit {
    position: absolute;
    left: 91%;
    top: 8%;
}

.price-text-error {
        font-size: 12px;
}

.create-price-body_first {
    border-bottom: 0.5px solid var(--background-primary);
    height: 80px;
}

.create-price-body_second {
    border-bottom: 0.5px solid var(--background-primary);
    height: 240px;
}

.create-price-body_third {
    border-bottom: 0.5px solid var(--background-primary);
    height: 80px;
}

.create-price-body_fourth {
    min-height: 150px;
}

/* ///////////////////////// */
/* ***** CREATE LIST ***** */

.price-header-search {
    width: 35%;
    height: 35px;
    border-radius: 10px;
    padding: 0 5px;
    outline: none;
    border: 0.5px solid var(--gray-border);

}

.price-header-search-btn {
    height: 35px;
}

/* ///////////////////////// */
/* **** CREATE APPROVE **** */